*{
    font-family: 'Times New Roman', Times, serif;
}
.custom-navbar {
    background-color: #61606a;
    border-color: #424642; 
    color: white; 
}
.navbar-brand img {
    width: 50px;
    border-radius: 20px;
    margin-top: -15px;
}

.img-responsive {
    padding-bottom: 3px;
    height: 100px;
    width: 100%;
}

.custom-navbar .navbar-brand,
.custom-navbar .navbar-nav>li>a {
    color: white; 
}

.custom-navbar .navbar-brand:hover,
.custom-navbar .navbar-nav>li>a:hover {
    color: #f1f1f1; 
}

.custom-navbar {
    box-shadow: 0 0px 15px 10px rgba(42, 40, 40, 0.1);
}
.social-links {
    border-radius: 20px;
    width: 30px;
    height: 30px;
    background-color: bisque;
}
.navbar-brand img {
    width: 50px;
    border-radius: 20px;
    margin-top: -15px;
}


.footer {
    background-color: #373738;
    color: bisque;
    padding: 20px 0;
    text-align: center;
}